# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db